/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    * {
        -fx-font-family: Tahoma;
    }

    VBox {
        -fx-background-color: white;
        -fx-padding: 10;
        -fx-spacing: 20;
        -fx-alignment: CENTER;
    }

    HBox{
        -fx-spacing: 40;
        -fx-alignment: CENTER;
    }

    Button {
        -fx-pref-height: 80;
        -fx-pref-width: 200;
        -fx-background-color: greenyellow;
        -fx-font-weight: bold;
        -fx-font-size:15;
    }

    Text.Subject {
        -fx-font-size: 42;
        -fx-fill: coral;
        -fx-alignment: CENTER;
        -fx-style: bold;
    }

    HBox.signout {
        -fx-alignment: CENTER_RIGHT;
    }
    
    Button.signout{
         -fx-pref-height: 50;
        -fx-pref-width: 100;
    }
}
