/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 27, 2021, 12:38:27 AM
    Author     : dell
*/

* {
    -fx-font-family: Tahoma;
}

VBox {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

HBox{
    -fx-spacing: 20;
    -fx-alignment: CENTER_LEFT;
}

VBox.tab {
    -fx-background-color: lightblue;
    -fx-alignment: CENTER;
}

HBox.tab{
     -fx-alignment: CENTER;
}

RadioButton.Bien{
    -fx-padding: 0 80 0 0;
}

HBox.buttonn{
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

TextField {
    -fx-pref-height: 35;
}

Text.Subject {
    -fx-font-size: 36;
    -fx-fill: coral;
}

Text.Title {
    -fx-fill: darkolivegreen;
}

Button.btnLapVe {
     -fx-pref-height: 55;
     -fx-pref-width: 100;
    -fx-background-color: greenyellow;
    -fx-font-weight: bold;
    -fx-font-size:15;
}