/*
 * Empty Stylesheet file.
 */

/*
 * Empty Stylesheet file.
 */

* {
    -fx-font-family: Tahoma;
}

VBox {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

VBox Text.Subject{
    -fx-font-size: 36;
    -fx-fill: coral;
    -fx-alignment: CENTER;
}

VBox HBox{
    -fx-alignment: CENTER;

}

VBox HBox VBox.searchBox{
    -fx-background-color: lightsalmon;

}